<?xml version="1.0" encoding="utf-8" ?>
<listVersion>
  <version>
    <id>1.0.0.0</id>
    <date>01-11-2015 12:19</date>
    <files>
      <file>
        <in>https://github.com/nguyenthuy1294/demoAutoUpdate/blob/master/version.config</in>
        <out>Demoautoupdateapp.exe</out>
      </file>
    </files>
    <readme>Add</readme>
  </version>
  <version>
    <id>1.0.0.2</id>
    <date>01-11-2015 21:40</date>
    <files>
      <file>
        <in>http://facebook.com/download/1536529973327009/Demoautoupdateapp.exe</in>
        <out>Demoautoupdateapp.exe</out>
      </file>
      <file>
        <in>http://facebook.com/download/1536529973327009/readme.txt</in>
        <out>readme.txt</out>
      </file>
    </files>
   <readme>Add, Sub</readme>
  </version>
</listVersion>
